# ======= JFRAME AUTOCONFIGURATION =======
jframe:
  application:
    name: APPLICATION_NAME
    group: APPLICATION_GROUP
    version: APPLICATION_VERSION
    environment: ${APPLICATION_ENVIRONMENT:dev}
    url: ${APPLICATION_URL:http://localhost:5173}

  logging:
    disabled: ${LOGGING_DISABLED:false}
    response-length: ${LOGGING_RESPONSE_LENGTH:-1}

# ======= SECURITY CONFIGURATION =======
security:
  cors:
    allowed-origin: ${CORS_ALLOWED_ORIGIN:http://localhost:*}

# ======= MANAGEMENT ENDPOINTS =======
management:
  endpoints:
    web:
      exposure.include: health,info,metrics
      base-path: /v1/public/actuator

# ====== SERVER CONFIG ======
server:
  port: ${SERVER_PORT:8080}
  servlet.context-path: /api
  forward-headers-strategy: framework

# ======= SPRINGDOC CONFIGURATION <https://springdoc.org/> =======
springdoc:
  show-actuator: true
  pre-loading-enabled: true
  show-login-endpoint: true
  enable-data-rest: false
  enable-hateoas: false
  swagger-ui:
    disable-swagger-default-url: true
    default-models-expand-depth: -1
    path: /v1/public/docs/openapi.html
  api-docs:
    enabled: true
    path: /v1/public/docs

# ======= SPRING CONFIGURATION =======
spring:
  profiles.active: ${SPRING_PROFILES_ACTIVE:dev}
  main:
    banner-mode: off
    allow-bean-definition-overriding: true
    allow-circular-references: true

  threads:
    virtual.enabled: true

  liquibase:
    enabled: true
    contexts: prd

  datasource:
    hikari:
      poolName: ${DATASOURCE_HIKARI_POOL_NAME:tst_eventify}
      minimumIdle: ${DATASOURCE_HIKARI_MINIMUM_IDLE:5}
      maximumPoolSize: ${DATASOURCE_HIKARI_MAX_POOL_SIZE:17}
      maxLifetime: ${DATASOURCE_HIKARI_MAX_LIFETIME:1800000}
      connectionTimeout: ${DATASOURCE_HIKARI_CONNECTION_TIMEOUT:1000}
      validationTimeout: ${DATASOURCE_HIKARI_VALIDATION_TIMEOUT:5000}
      idleTimeout: ${DATASOURCE_HIKARI_IDLE_TIMEOUT:900000}
      keepaliveTime: ${DATASOURCE_HIKARI_KEEPALIVE_TIME:0}
      registerMbeans: ${DATASOURCE_HIKARI_REGISTER_MBEANS:true}
    url: ${DATASOURCE_URL:jdbc:h2:mem:demodb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE}
    username: ${DATASOURCE_USERNAME:sa}
    password: ${DATASOURCE_PASSWORD:}
    driverClassName: org.h2.Driver

  jpa:
    open-in-view: false
    properties:
      hibernate:
        id.optimizer.pooled.preferred: pooled-lo
        physical_naming_strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
        order_inserts: true
        order_updates: true
        jdbc:
          batch_size: 1000
